@font-face {
    font-family: 'Ambient';
    src: url('Ambient-Regular.eot');
    src: url('Ambient-Regular.eot?#iefix') format('embedded-opentype'),
        url('Ambient-Regular.woff2') format('woff2'),
        url('Ambient-Regular.woff') format('woff'),
        url('Ambient-Regular.ttf') format('truetype'),
        url('Ambient-Regular.svg#Ambient-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ambient';
    src: url('Ambient-Bold.eot');
    src: url('Ambient-Bold.eot?#iefix') format('embedded-opentype'),
        url('Ambient-Bold.woff2') format('woff2'),
        url('Ambient-Bold.woff') format('woff'),
        url('Ambient-Bold.ttf') format('truetype'),
        url('Ambient-Bold.svg#Ambient-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ambient';
    src: url('Ambient-Medium.eot');
    src: url('Ambient-Medium.eot?#iefix') format('embedded-opentype'),
        url('Ambient-Medium.woff2') format('woff2'),
        url('Ambient-Medium.woff') format('woff'),
        url('Ambient-Medium.ttf') format('truetype'),
        url('Ambient-Medium.svg#Ambient-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

